

.transaction-item {
  padding-left: 30px;
}

.transaction-item-detail {
  padding-left: 15px;
  background-color: #eff6df;
}

#outerwrapper {
  background-color:#009966;
  padding: 8px;
  -webkit-border-radius: 5px;
}

#innerwrapper {
  background-color:#FFF;
  padding: 6px;
  -webkit-border-radius: 10px;
}


html,
body {
  margin: 0;
  padding: 0;
  border: 0;
}

a,
a:visited,
a:hover,
a:active {
  color: #5c781f;
  text-decoration: none;
}

body {
  position: relative;
  width: 399px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 13px;
  color: #898989;
  overflow-x: hidden;
}

input[type="text"],
input[type="email"],
input[type="password"] {
  float: left;
  height: 40px;
  padding: 0 10px;
  border: 1px solid #a8a8a8;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 13px;
  color: #898989;
  font-weight: bold;
  border-radius: 4px;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.33);
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

button {
  display: inline-block;
  width: 80px;
  height: 40px;
  padding: 0;
  border: 1px solid #7da327;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 15px;
  color: #5c781f;
  font-weight: bold;
  border-radius: 4px;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.6);
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  box-shadow: inset 0 2px 0 rgba(255, 255, 255, 0.35), 0 1px 2px rgba(0, 0, 0, 0.2);
  background-image: -webkit-gradient(linear, left top, left bottom, from(#c1dd6e), to(#91bd32));
  background-image: -webkit-linear-gradient(top, #c1dd6e, #91bd32);
  background-image: linear-gradient(to bottom, #c1dd6e, #91bd32);
}

button.grey {
  background-image: -webkit-gradient(linear, left top, left bottom, from(#f0f1f5), to(#e2e4ec));
  background-image: -webkit-linear-gradient(top, #f0f1f5, #e2e4ec);
  background-image: linear-gradient(to bottom, #f0f1f5, #e2e4ec);
  border-color: #aaa;
  color: #8c90a2;
}

header {
  position: relative;
  height: 55px;
  border-bottom: 1px solid #b5b5b5;
  background: url(../img/bg_head.png);
}

.logo {
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 27px;
  height: 34px;
  margin: -17px 0 0 -13.5px;
  text-indent: -9999em;
  background: url(../img/logo.png);
}

.action-icons {
  float: right;
  margin: 0 10px 0 0;
  padding: 0;
  list-style: none;
}

.action-icons li {
  float: left;
}

.action-icons a {
  display: block;
  width: 32px;
  height: 55px;
  text-indent: -9999em;
  background-position: center center;
  background-repeat: no-repeat;
}

.action-icons .ico-cart {
  background-image: url(../img/ico_cart.png);
}

.action-icons .active.ico-cart {
  background-image: url(../img/ico_cart_active.png);
}

.action-icons .ico-lock {
  background-image: url(../img/ico_lock.png);
}

main {
  padding: 0 20px;
  background: #fff;
}

h3 {
  margin: 0 0 5px;
  font-size: 13px;
  font-weight: bold;
  color: #4b4b4b;
}

.balance-bar {
  margin: 0 -20px;
  padding: 15px 20px;
  border-bottom: 1px solid #cfd9b8;
  background: #eff6df;
}

.bubbleInfo {
    position: relative;
}

.popup {
    position: absolute;
    display: none; /* keeps the popup hidden if no JS available */
    color: #95c036;
}

.video-bar {
  margin: 0 -20px;
  padding: 15px 10px;
  border-bottom: 1px solid #cfd9b8;
  background: #eff6df;
}


.info-bar {
  margin: 0 -20px;
  padding: 15px 20px;
  border-bottom: 1px solid #cfd9b8;
  background: #eff6df;
}

.info-bar .class {
  float: left;
/*  margin-left: 240px;
*/ font-weight: bold;
  font-size: 12px;
  line-height: 0px;
  color: #4b4b4b;

}

.info-bar .level {
  float: right;
  font-weight: bold;
  font-size: 12px;
  line-height: 0px;
  color: #4b4b4b;
}

.balance-bar .coins {
  font-weight: bold;
  font-size: 30px;
  line-height: 28px;
  color: #95c036;
}

.balance-bar .coins i {
  display: inline-block;
  width: 22px;
  height: 30px;
  text-indent: -9999em;
  background: url(../img/ico_coin.png) center 70% no-repeat;
}

.balance-bar .money {
  float: right;
  font-weight: bold;
  font-size: 18px;
  line-height: 28px;
  color: #4b4b4b;
}

.balance-bar .money strong {
  font-size: 30px;
}

.list-item {
  padding-top: 15px;
}

.list-item .list-expander{
  float: right;
}

.list-item ul {
  margin: -10px 0 0;
  padding: 0;
  list-style: none;
}

.list-item li {
  margin: 0 -20px;
  padding: 8px 20px;
  border-bottom: 1px solid #ededed;
  line-height: 21px;
}

.list-item li i {
  display: inline-block;
  width: 10px;
  height: 21px;
  margin: 0 18px;
  text-indent: -9999em;
  background: url(../img/ico_arrow.png) center center no-repeat;
}

.list-item .user {
  padding: 15px 20px;
}

.list-item li strong {
  float: right;
  color: #95c036;
}


.list-item li img {
  float: right;
  margin-top: -5px;
  width: 35px;
  height: 35px;

}

.list-item .store-item img {
  float: right;
  margin-top: -2px;
  margin-right: 12px;
  width: 24px;
  height: 24px;
}




.item-add-bar {
  overflow: hidden;
  padding: 20px 0;
}

.item-add-bar div.second-row {
	
	padding-top:45px;
}

.item-add-bar input:first-child {
  width: 255px;
  margin-right: 10px;
}

.item-add-bar input.right-element {
  width: 80px;
  float: right;

}

.item-add-bar input.large-input {
  width: 255px;
  margin-right: 10px;

}

.item-add-bar button {
  float: right;
}


.pay-bar {
  overflow: hidden;
  padding: 20px 0;
}

.pay-bar input:first-child {
  width: 170px;
  margin-right: 10px;
}

.pay-bar input {
  width: 80px;

}

.pay-bar input.large-input {
  width: 255px;
  margin-right: 10px;

}

.pay-bar button {
  float: right;
}

footer {
  overflow: hidden;
  border-top: 1px solid #c4c4c4;
  background: #f5f5f5;
  text-align: center;
  box-shadow: inset 0 2px 2px rgba( 0, 0, 0, 0.05);
}

footer p{
  margin-top: 10px;
}

.success {
  color: #95c036;
}

.error {
  color: #fc8888;
}

.login-form {
  padding: 25px 60px 30px;
}

.login-form h3 {
  font-size: 15px;
  line-height: 28px;
  text-align: center;
  color: #95c036;
}

.login-form input {
  width: 100%;
  margin-bottom: 10px;
}


.login-form a {
  display: inline-block;
  padding: 0 10px;
  font-weight: bold;
  line-height: 32px;
  color: #5c781f;
}

.login-form .facebook-connect-link {
	
  font-size: 11.5px;
  line-height: 22px;
  color: #6052E3;
}

.login-form .back {
  width: 21px;
  text-indent: -9999em;
  background: url(../img/arrow_back.png) center center no-repeat;
}

.login-form button {
  float: right;
  height: 32px;
}

.switch-store {
  margin: 0 -20px;
  padding: 15px 20px 20px;
  border-bottom: 1px solid #d6d9e0;
  background: #f3f4f6;
}

.switch-store .store-form {
  overflow: hidden;
  
}

.switch-store form {
  overflow: hidden;
  
}


.switch-store input {
  width: 270px;
}

.switch-store button {
  float: right;
}

.up {
  display: block;
  height: 30px;
  margin: 0 -20px;
  text-indent: -9999em;
  border-top: 1px solid #c4c4c4;
  background: #e9e9e9 url(../img/arrow_up.png) center center no-repeat;
}

